
<div class="container">
  <%= render "common/flashes" %>
</div>

<div class="container">

  <div class="row">
    <div class="col-md-9 article-index-box">

      <% @articles.each do |article| %>
        <div class="article-all">
          <div class="article-box row">

            <!-- 文章列表图片 -->
            <div class="col-md-3 all_image_css">
              <% if article.image.present? %>
                <%= link_to image_tag(article.image.articleimg.url, class: "product-list-style-img img-responsive"), article_path(article) %>
              <% else %>
                <%= link_to image_tag("https://ww2.sinaimg.cn/large/006tKfTcly1fnt7p9w5h6j306o06owec.jpg", class: "product-list-style-img img-responsive"), article_path(article)%>
              <% end %>
            </div>

            <!-- 文章列表标题、作者、日期 -->
            <div class="col-md-9">
              <div class="row">
                <%= link_to(truncate(article.title,:length => 40),article_path(article), class: "article-index-title") %>
              </div>
              <div class="row article-summary">
                <%= article.summary %>
              </div>
              <div class="article-user row">
                <div class="col-md-6">
                  <span> <%= article.user.email %></span>
                </div>
                <div class="col-md-6">
                  <span> <%= article.created_at.strftime("%Y-%m-%d %H:%M:%S") %></span>
                </div>
              </div>
            </div>

          </div>
          <hr>
        </div>
      <% end %>

      <div class="text-center">
        <%= will_paginate @articles, renderer: BootstrapPagination::Rails, :previous_label => t('上一页'), :next_label => t('下一页') %>
      </div>

    </div>

    <div class="col-md-3 sidebar">
      <%= render "sidebar_for_article_index" %>
    </div>
  </div>
</div>
