<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">文章管理</h3>
  </div>
  <div class="panel-body">
    <div class="group">
      <%= link_to("发布新文章", new_admin_article_path, class: "btn btn-primary pull-right") %>
    </div>
    <p>操作说明：mark</p>
    <p>目前前台可以投稿，投稿的状态默认为<span class="label label-warning">待审核</span>，请编辑部人员对投稿进行审核。</p>
    <hr>
    <div class="admin_artcle">
  
        <table class="table table-hover">
          <thead>
            <tr>
              
              <td>标题</td>
              <td>作者</td>
              <td>发布状态</td>
              <td>来源</td>
              <td>文章分类</td>

            </tr>
          </thead>
          <tbody>
            <% @articles.each do |article| %>
              <tr>
  
                <td><%= link_to(article.title, article_path(article)) %></td>
                <td><%= article.author %></td>
                <td><%= t(article.status, :scope => "article.status") %></td>
                <td><%= article.source %></td>
                <td><%= article.article_category.try(:name) %></td>

              </tr>
            <% end %>
          </tbody>
        </table>

      
      <div class="text-center">
        <%= will_paginate @articles, renderer: BootstrapPagination::Rails, :previous_label => t('上一页'), :next_label => t('下一页') %>
      </div>
    </div><!-- /admin_artcle -->
  </div><!-- /panel-body -->
</div>


