<div class="container">
  <%= render "common/flashes" %>
</div>

<div class="container">
  <div class="container">
    <div class="col-md-9 site-body">
      <div id="site_nodes" class=" row" >
        <% @site_nodes.each do |node| %>                
          <div class="site-box">      
            <div class="site-node">    
              <span class="site-node-name"><%= node.name %></span>
              <span class="pull-right"><%= link_to "更多", site_node_path(node), target: "_blank" %></span>
            </div>
            <div class="site-list"> 
              <% node.sites.each do |site| %>
                <button type="button" class="btn" data-toggle="tooltip" data-placement="top" title="<%= site.description %>">
                  <%= link_to site.name, site.url, target: "_blank" %>
                </button>
              <% end %>  
            </div>         
          </div>        
        <% end %>
      </div>
    </div>
    
    <div class="col-md-3 hidden-sm hidden-xs">
      <%= render "sidebar_for_site_index" %>
    </div>
  </div>
</div>
